:root{
    --azul-claro: #DFE3E5;
    --azul-ciano: #56CCF2;
    --branco: #f6f6f6;
    --bg-chamada-mobile: #00161C;
    --hover: #333;
    --cabecalho: #062925;
    --cinza-claro: #e7e7e7;
    --cinza-medio: #D9D9D9;
    --cinza-escuro: #4F4C4C;
    --marrom-medio: #3C2A21;
    --fonte-link: #0084FF;
    --verde-musgo: #044A42;
    --verde-piscina: #3A9188;
    --vermelho-claro: #E33B3B;
    --vermelho-forte: #B72E2E;
    --roxo-claro: #B04CD9;
    
    /* font's */
    --montserrat: 'Montserrat', sans-serif;
    --krona: 'Krona One', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, var(--cabecalho), var(--verde-musgo), var(--verde-piscina));
    background-attachment: fixed;
    font-family: var(--montserrat);
    color: var(--cinza-claro);
}

.links{
    text-decoration: none;
    color: var(--azul-ciano);
}


.botao{
    align-items: center;
    border: 2px solid var(--cinza-claro);
    border-radius: 8px;
    color: var(--cinza-medio);
    display: flex;
    font-weight: 400;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    text-decoration: none;
    font-family: var(--krona);
}

.botao:hover{
    background-color: var(--hover);
    color: var(--roxo-claro);
}

.links:hover{
    color: var(--roxo-claro);
    scale: 1.2;
}

.title{
    font-size: 2rem;
    font-weight: 600;
}

.card{
    width: 20px;
    border: 2px solid var(--verde-piscina);
    border-radius: 5px;
    text-decoration: none;
}

.card:hover{
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
}

@media screen and (min-width: 1024px) {

    .cabecalho{
        justify-content: center;
        align-items: center;
    }
    .cabecalho__nav{
        display: flex;
        flex-direction: row;
    }    
}

