:root{
	--azul-claro: #DFE3E5;
	--azul-ciano: #56CCF2;
	--azul-escuro: navy;
	--branco: #f6f6f6;
	--bg-chamada-mobile: #00161C;
	--hover: #333;
	--cabecalho: #1F4E5F;
	--cinza-claro: #e7e7e7;
	--cinza-medio: #9b9b9b;
	--cinza-escuro: #4F4C4C;
	--marrom-medio: #3C2A21;
	--fonte-link: #3f3f3f;
	--verde-musgo: #79A8A9;
	--verde-piscina: #AACFD0;
	--vermelho-claro: #E33B3B;
	--vermelho-forte: #B72E2E;
	--roxo-claro: #B04CD9;
	--preto: #010101;
    --1: #00031e;
    --2: #12372A;
    --3: #094d79;
    --4: #424874;

	/* font's */
	--montserrat: 'Montserrat', sans-serif;
	--krona: 'Krona One', sans-serif;
}

body{
	background-image: linear-gradient(to bottom, var(--cinza-escuro), var(--fonte-link), var(--cinza-escuro));
	background-attachment: fixed;
	font-family: var(--montserrat);
}

.links{
	text-decoration: underline;
    color: var(--azul-ciano);
}


.links:hover{
	color: var(--branco);
	scale: 1.2;
}


p{
	color: var(--cinza-claro);
	text-indent: 2rem;
	line-height: 1.5rem;
    font-size: 1.2rem;
}

.card {
	width: 20px;
	border: 2px solid var(--azul-escuro);
	text-decoration: none;
	display: flex;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	font-size: 1rem;

	transition:all 0.5s;

	&:after,&:before{
		content:" ";
			width: 1rem;
			height: 1rem;
			position:absolute;
			border :0 solid #fff;
			transition:all 0.5s;
			border-radius: 2px;
		}
			&:after{
				top:-1px;
				left:-1px;
				border-top:3px solid black;
				border-left:3px solid black;
		}
			&:before{
				bottom:-1px;
				right:-1px;
				border-bottom:3px solid black;
				border-right:3px solid black;
		}
			&:hover{
				border-top-right-radius:0px;
				border-bottom-left-radius:0px;
				background:rgba(0,0,0,.5);
				color:white;

			&:before, &:after{
				width:100%;
				height:100%;
				border-color:white;
		}
	  }
	}

