.cabecalho{
    display: flex;
    justify-content: center;
}

.cabecalho__nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.cabecalho__link:hover{
    scale: 1.1;
}

.sign{
    position: absolute;
    width: 13%;
    left: 65%;
    margin-top: 4rem;
    transform: rotate(-5deg)
}

.conteudo__foto{
	width: 70%;
	border-radius: 10px;
}

@media screen and (max-width: 980px) {

    .cabecalho__nav{
        flex-direction: column;
        gap: 1rem;
    }
}
