.cabecalho{
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 100%;
}

.cabecalho__nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 50%;
}

.cabecalho__link:hover{
    scale: 1.1;
}


@media screen and (max-width: 980px) {

    .cabecalho__nav{
        flex-direction: column;
        gap: 1rem;
    }
}
