.footer{
    gap: 10%;
    padding: 5%;
    background-image: linear-gradient(to top, var(--cinza-medio), var(--cinza-escuro));
    padding: 2rem;
    
}

.footer__nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.footer__link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--branco);
}


.nota{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 0.6em;
}


.nota__frase p{
    display:flex;
    align-items: center;
    text-indent: none;
}

.fotos{
    width: 1.75rem;
}

.fotos__copy{
    width: 0.8rem;    
}

@media (max-width: 980px) {
    .footer__nav{
        flex-direction: column;
        align-items: center;
    }

}